@charset "UTF-8";
.mob {
  display: none;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
body {
  font-family: "Quicksand", sans-serif;
  color: #0a0b24;
}
body .row {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}
body .column {
  display: flex;
  flex-flow: column wrap;
}
body .button_slide {
  color: #49afb3;
  border: 0.2vw solid #e55b7e;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #e55b7e;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
body .button_slide:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 #e55b7e;
  background-color: #e55b7e;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 5vw;
  width: 100%;
  padding: 0 3vw;
  border-bottom: 1px solid #e55b7e;
  z-index: 1;
}
header #header-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #e55b7e;
}
header #header-links a {
  transition: 0.5s;
}
header #header-links a:hover {
  color: #49afb3;
  opacity: 0.9;
}
header #download-option button {
  padding: 0.5vw 1vw;
  border-radius: 20px;
  font-weight: bold;
  font-weight: 2vw;
  font-size: 1.4vw;
}
header #swipe-bar {
  display: none;
}

#page-content {
  margin-top: 5vw;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #78d5d8;
}
#page-content .content-change {
  width: 5%;
  font-size: 4vw;
  display: flex;
  justify-content: center;
}
#page-content .content-change i {
  position: fixed;
  top: 50%;
  transition: 0.5s;
  color: white;
}
#page-content .content-change i:hover {
  opacity: 0.7;
}
#page-content .content-change i:active {
  transform: scale(0.7);
}
#page-content #pages {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}
#page-content #pages .page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  padding: 0 4vw;
}
#page-content #pages .page > div {
  margin: 2vw 1vw;
}
#page-content #pages .page .polaroid-container .polaroid {
  border-width: 1vw 1vw 4vw 1vw;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  transition: 0.4s;
}
#page-content #pages .page .polaroid-container .polaroid:hover {
  transform: scale(1.03);
}
#page-content #pages .page .project {
  margin: 2%;
  border-radius: 2px;
}
#page-content #pages .page .project .polaroid {
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
#page-content #pages .page .project img {
  width: 25vw;
  border: 1px solid #cecdcd;
  transition: 0.5s -webkit-filter;
  left: -3px;
  top: -3px;
  clip: rect(3px 25vw 15vw 3px);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
#page-content #pages .page .project .project-info {
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#page-content #pages .page .project .project-info h6 {
  font-family: "Nunito", sans-serif;
  color: #e55b7e;
  font-weight: bold;
  font-size: 2vw;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.89), 1px -1px 2px rgba(255, 255, 255, 0.89), -1px 1px 2px rgba(255, 255, 255, 0.89), 1px 1px 2px rgba(255, 255, 255, 0.89);
}
#page-content #pages .page .project .project-info p {
  font-size: 1.5vw;
  color: #49afb3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vw;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.89), 1px -1px 2px rgba(255, 255, 255, 0.89), -1px 1px 2px rgba(255, 255, 255, 0.89), 1px 1px 2px rgba(255, 255, 255, 0.89);
}
#page-content #pages .page .project .project-info a {
  background-color: #e55b7e;
  color: white;
  font-size: 1vw;
  padding: 0.5vw;
  border-radius: 5px;
  transition: 0.5s;
}
#page-content #pages .page .project .project-info a:hover {
  background-color: white;
  color: #e55b7e;
}
#page-content #pages .page .project .blur-image {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
#page-content #pages .page .project:nth-of-type(odd) {
  border: 1px solid #78d5d8;
}
#page-content #pages .page .project:nth-of-type(even) {
  border: 1px solid #e77894;
}
#page-content #pages .page .project:hover {
  transform: scale(1.1);
}
#page-content #pages .page .section-separator {
  border-bottom: 0.9vw dotted white;
  border-top: none;
  margin: 0 -3.8vw;
}
#page-content #pages .page .card {
  background-color: white;
  padding: 3%;
}
#page-content #pages .page .card .title-bottom-border {
  border-top: 0.4vw dotted #e55b7e;
  box-sizing: content-box;
}
#page-content #pages .page .card h2 {
  font-size: 2.5vw;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #49afb3;
}
#page-content #pages .page .card h3 {
  font-size: 1.7vw;
  font-family: "Nunito", sans-serif;
  padding-bottom: 0.6vw;
  color: #e55b7e;
}
#page-content #pages .page .card .form-container {
  margin: 1vw auto;
  width: 70%;
}
#page-content #pages .page .card .form-container .upper-form {
  border-style: solid;
  border-color: #78d5d8;
  border-width: calc(0.05em + 0.05vw);
  border-bottom: none;
  border-radius: 0.5vw 0.5vw 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#page-content #pages .page .card .form-container .upper-form form {
  background: transparent;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  padding: 2vw;
}
#page-content #pages .page .card .form-container .upper-form form label {
  font-size: 1vw;
}
#page-content #pages .page .card .form-container .upper-form form input {
  width: 90%;
  border: 0.05vw solid #78d5d8;
  outline: none;
  border-radius: 0.5vw;
  padding: 0.3vw 0 0.3vw 1vw;
  margin-bottom: 1vw;
  transition: 0.3s;
}
#page-content #pages .page .card .form-container .upper-form form input:focus {
  border: 0.05vw solid #e77894;
  transform: scale(1.005);
}
#page-content #pages .page .card .form-container .upper-form form textarea {
  width: 90%;
  height: 9vw;
  border: 0.05vw solid #78d5d8;
  outline: none;
  border-radius: 0.5vw;
  padding: 0.5vw 0 0.5vw 1vw;
  margin-bottom: 1vw;
}
#page-content #pages .page .card .form-container .upper-form form textarea:focus {
  border: 0.05vw solid #e77894;
  transform: scale(1.005);
}
#page-content #pages .page .card .form-container .upper-form form button {
  background-color: #78d5d8;
  border-radius: 1vw;
  padding: 0.5vw;
  width: 50%;
  margin: auto;
  font-weight: bold;
  font-size: 1vw;
}
#page-content #pages .page .card .form-container .upper-form form button:hover {
  -webkit-animation: heartbeat 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite both;
  animation: heartbeat 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite both;
}
#page-content #pages .page .card .form-container .upper-form .qr-container {
  background-color: #c1f0f1ef;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  border-radius: 0 0.5vw 0 0;
}
#page-content #pages .page .card .form-container .upper-form .qr-container img {
  max-width: 40%;
  height: auto;
}
#page-content #pages .page .card .form-container .form-footer {
  background: #78d5d8;
  border: 0.1vw solid #78d5d8;
  border-top: none;
  border-radius: 0 0 0.5vw 0.5vw;
  display: flex;
  justify-content: flex-end;
}
#page-content #pages .page .card .form-container .form-footer .fa {
  font-size: 2.5vw;
  margin: 1vw 1vw 0.5vw 1vw;
  transition: 0.3s;
  color: white;
}
#page-content #pages .page .card .form-container .form-footer .fa:hover {
  transform: scale(1.3);
}
#page-content #pages .page .card p {
  text-align: justify;
  font-size: 1.3vw;
}
#page-content #pages .page .card a {
  color: #49afb3;
  transition: 0.3s;
}
#page-content #pages .page .card a:hover {
  color: #e55b7e;
}
#page-content #pages .page .card ul {
  font-size: 1.3vw;
}
#page-content #pages .page .card ul li:before {
  content: "• ";
  font-size: 1.3vw;
  color: #e55b7e;
}
#page-content #pages .page .card .bookpage-content {
  margin-top: 2vw;
}
#page-content #pages .page .card .polaroid-group {
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  text-align: center;
  transition: 0.4s;
  width: 57vw;
  border-radius: 2px;
  margin: 4vh auto;
}
#page-content #pages .page .card .polaroid-group .polaroid-single {
  border-width: 2vw 1vw 2vw 1vw;
  border-style: solid;
  border-color: white;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}
#page-content #pages .page .card .polaroid-group .polaroid-last {
  border-width: 2vw 6vw 2vw 1vw;
  border-style: solid;
  border-color: white;
}
#page-content #pages .page .card .polaroid-group img {
  width: 15vw;
  filter: sepia(0.1);
  transition: 0.5s;
  border: 1px solid #cecdcd;
}
#page-content #pages .page .card .polaroid-group strong {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.89), 1px -1px 2px rgba(255, 255, 255, 0.89), -1px 1px 2px rgba(255, 255, 255, 0.89), 1px 1px 2px rgba(255, 255, 255, 0.89);
}
#page-content #pages .page .card .polaroid-group:hover {
  transform: scale(1.02);
}
#page-content #pages .page .card .polaroid-group:nth-of-type(odd) {
  border: 1px solid #78d5d8;
}
#page-content #pages .page .card .polaroid-group:nth-of-type(even) {
  border: 1px solid #e77894;
}
#page-content #pages .page:nth-child(even) {
  background-color: #e77894;
}
#page-content #pages .page:nth-child(odd) {
  background-color: #78d5d8;
}
#page-content #pages .not-display {
  display: none;
}

@media (max-width: 800px) {
  .mob {
    display: block;
  }

  header {
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: calc(1em + 6vw);
  }
  header #header-links {
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    font-size: calc(0.4em + 2vw);
    margin-bottom: 8px;
  }
  header #header-links a:hover {
    color: #e55b7e;
  }
  header #download-option {
    display: none;
  }
  header #swipe-bar {
    display: block;
    position: absolute;
    background-color: #e55b7e;
    bottom: 0;
    height: 1vh;
    width: 20vw;
    transition: all 0.1s ease-out;
  }

  #page-content {
    margin-top: calc(1em + 6vw);
  }
  #page-content #pages .page .card {
    flex-flow: column nowrap;
  }
  #page-content #pages .page .card h2 {
    font-size: calc(1em + 1.5vw);
  }
  #page-content #pages .page .card h3 {
    font-size: calc(1em + 0.5vw);
  }
  #page-content #pages .page .card p {
    font-size: calc(0.8em + 0.2vw);
  }
  #page-content #pages .page .card ul {
    font-size: calc(0.8em + 0.2vw);
  }
  #page-content #pages .page .card ul li:before {
    font-size: calc(0.8em + 0.2vw);
  }
  #page-content #pages .page .card .form-container {
    margin-top: 1vw;
  }
  #page-content #pages .page .card .form-container .upper-form {
    flex-flow: column nowrap;
  }
  #page-content #pages .page .card .form-container .upper-form form {
    width: 100%;
  }
  #page-content #pages .page .card .form-container .upper-form form label {
    font-size: calc(0.6em + 0.5vw);
  }
  #page-content #pages .page .card .form-container .upper-form form input {
    border-width: calc(0.05em + 0.05vw);
  }
  #page-content #pages .page .card .form-container .upper-form form input:focus {
    border-width: calc(0.05em + 0.05vw);
  }
  #page-content #pages .page .card .form-container .upper-form form textarea {
    border-width: calc(0.05em + 0.05vw);
  }
  #page-content #pages .page .card .form-container .upper-form form textarea:focus {
    border-width: calc(0.05em + 0.05vw);
  }
  #page-content #pages .page .card .form-container .upper-form form button {
    font-size: calc(0.6em + 0.5vw);
    font-weight: lighter;
  }
  #page-content #pages .page .card .form-container .upper-form .qr-container {
    width: 100%;
    height: 20vh;
    border-radius: 0;
  }
  #page-content #pages .page .card .form-container .upper-form .qr-container img {
    max-height: 15vh;
  }
  #page-content #pages .page .card .form-container .form-footer #socials .fa {
    font-size: calc(1em + 1vw);
  }
  #page-content #pages .page .card #mob-download {
    padding: calc(0.5em + 0.5vw);
    margin: calc(0.5em + 0.5vw) 0;
    border-radius: 5%;
    background-color: #e77894;
    font-size: calc(0.8em + 0.2vw);
    font-weight: bolder;
  }
  #page-content #pages .page .card #mob-download a {
    color: white;
  }
  #page-content #pages .page .project img {
    width: 60vw;
  }
  #page-content #pages .page .project .project-info h6 {
    font-size: calc(1em + 1vw);
  }
  #page-content #pages .page .project .project-info p {
    font-size: calc(0.7em + 0.7vw);
  }
  #page-content #pages .page .project .project-info a {
    font-size: calc(0.5em + 0.5vw);
    padding: calc(0.3em + 0.5vw);
    margin: calc(0.3em + 0.5vw);
  }

  .content-change {
    display: none;
  }
  .content-change #prev-button {
    display: none;
  }
  .content-change #next-button {
    display: none;
  }

  #pages {
    width: 100%;
  }
  #pages .page {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
